<div class="container">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <%= form_with(model: @gossip, local: true) do |f| %>
      <% if @gossip.errors.any? %>
      <h4><%= pluralize(@gossip.errors.count, "error") %> prevented this message from saving</h4>
        <ul>
          <% @gossip.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
            <% end %>
        </ul>
        <% end %>
      <%= f.label :title %>
      <%= f.text_field :name, class: 'form-control'  %>
      <%= f.label :content %>
      <%= f.text_field :content, class: 'form-control'  %>
      <%= f.submit "Create gossip", class: "btn btn-primary" %>
    <% end %>
</div>